
.card-container{
    width: 0;
}

.movie-card-container {
  /* background-repeat: no-repeat; */
  /* background-size:cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  /*max-height: 100%;*/
  /* position: relative; */
  /*height: 100vh;*/
  /* align-items: center; */
  /* justify-content: space-around; */
  /* object-fit: cover; */
  margin-top: 30px;
  filter: brightness(80%);
  border-radius: 10px;

  background: white;
  /* rgba( 96, 243, 51, 0.10 ); */
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(7.0px);
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.movie-stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  flex-wrap: nowrap;
  align-items: center;
  /* width: 23%;
  height: 23; */
}

.backdrop-img {
  width: 200px;
  /* opacity: 69%; */
}


.movie-stats{
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  bottom: 20px;
  right: 20px;
  color: #6FD42E;
  font-weight: bolder;
  font-size: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-title {
  width:auto;
}

.release-genre-run {
  font-size: 20px;
}
