
.card-container{
    width: 0;
}

.movie-card-container {
  display: flex;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  /*background-attachment: fixed;*/
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  /*max-height: 100%;*/
  /* position: relative; */
  /*height: 100vh;*/
  /* align-items: center; */
  /* justify-content: space-around; */
  /* object-fit: cover; */
  margin-top: 30px;
  filter: brightness(80%);
  border-radius: 10px;
  box-shadow: 0 0 6px 2px rgb(111, 212, 46);
  backdrop-filter: blur(7.0px);
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.movie-stats-container {
  display: flex;
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  width: 900px;
  flex-wrap: nowrap;
  align-items: center;
  text-shadow: 1px 1px 2px black;
  /* width: 23%;
  height: 23; */
}

.backdrop-img {
  width: 270px;
  /* opacity: 69%; */
}


.movie-stats {
  /* position: absolute; */
  /* display: flex; */
  /* justify-content: center; */
  /*bottom: 20px;*/
  right: 20px;
  color: #6FD42E;
  font-weight: bolder;
  /*font-size: 2.5em;*/
  padding-left: 20px;
  padding-right: 20px;
  /*padding-bottom: 47px;*/
}

.movie-title {
  width:auto;
  font-size: 2.9em;
}

.release-genre-run, .movie-rating{
  font-size: 1.5em;
}

.movie-overview {
/*  bottom: 20px;*/
/*  right: 20px;*/
/*  color: #6FD42E;*/
/*  font-weight: bolder;*/
  font-size: 1.3em;
/*  padding-left: 511px;*/
/*  color: #6FD42E;*/
/*  text-shadow: 1px 1px 2px black;*/
/*  padding-right: 20px;*/
}
