.App {
  text-align: center;
}

body{
  background-color:#121212;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-display {
  width: 81%
}

/* ::-webkit-scrollbar {
  width: 0;
} */

.card-container {
  display: flex;
  /* overflow-x: scroll; */
  width: 100%;
  /* margin-left: 4.7%; */
}
