* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background-color:#121212;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.movie-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.display-error {
  width: 100%;
  text-align: center;
}

.error-message {
  color: #6FD42E;
  font-size: 2em;
  text-align: center;
}

.load-error {
  color: #6FD42E;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .site-container {
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
  }

  .movie-display {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      overflow-x: auto;
  }
}
