* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background-color:#121212;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.movie-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 81%
}

.load-error {
  color:white;
}

@media screen and (max-width: 600px) {
  .site-container {
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
  }
}
