* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body{
  background-color:#121212;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-display {
  width: 81%
}

.card-container {
  display: block;
  /* overflow-x: scroll; */
  width: 100%;
  /* margin-left: 4.7%; */
}

.load-error {
  color:white;
}

@media screen and (max-width: 600px) {
  .site-container {
    flex-direction: column;
    overflow-x: scroll;
    width: 100%;
  }
}


