body {
    margin: 0;
}

.navbar {
    height: 100px;
    background-color: #6FD42E;
    color: black;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}