body {
    margin: 0;
}

.nav-bar {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 81%;
    background-color: #6FD42E;
    border-radius: 10px;
    color: black;
    margin-bottom: 15px;
    font-size: 30px;
}

.title {
    display: flex;
    margin-left: 6%;
}

.header-button:hover {
    background-color: #4d9c20;
}

.header-button {
  border-radius: 10px;
  width: 200px;
  text-align:  center;
  background-color: #6FD42E;
  color: black;
}

.search-bar {
  height: 20%;
  width: 40%;
  padding-right: 19%;
}

input {
  height: 175%;
  width: 192%;
}

@media screen and (max-width: 1024px) {

  .nav-bar {
    font-size: 25px;
  }

  .search-bar {
    width: 38%;
    padding-right: 18%;
  }
}

@media screen and (max-width: 768px) {

  .title {
    width: 57%;
    margin-left: 10%
  }

  .search-bar {
    width: 58%;
    padding-right: 34%;
  }

.nav-buttons {
  padding-right: 5%;
}

  .home {
    width: 81%;
  }
}

@media screen and (max-width: 600px) {
    .nav-bar {
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
        width: 100%;
    }

    .header-button {
        border-radius: 10px;
        width: 130px;
        text-align:  center;
    }
}

@media screen and (max-width: 425px) {

  .header-button {
    width: 156px;
  }

  .search-bar {
    width: .25em;
  }

  input {
    width: 14em;
  }

    .header-button {
        width: 56px;
    }
}

@media screen and (max-width: 375px) {

  .header-button {
    width: 133px;
  }
    input {
        width: 12em;
    }

    .header-button {
        width: 46px;
    }
}

